.movie-container {
  padding: 20px;
  background: linear-gradient(135deg, #1a1a1a, #2c3e50);
  color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.1);
 
  }
  
  .movie-title {
    font-size: 26px;
  font-weight: bold;
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center;
  color: #ffcc00;
  text-shadow: 0 0 10px rgba(255, 204, 0, 0.8);
  }
  .movie-actions button{
    margin-left: 10px;
  padding: 10px 15px;
  background: linear-gradient(45deg, #ffcc00, #ff9900);
  border: none;
  border-radius: 5px;
  color: #121212;
  font-weight: bold;
  }
  .movie-header {
    display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  padding: 10px;
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
  }
  
  .search-bar {
    width: 300px;
  }
  

  .movie-pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  /* Modal Styling */
  .modal-content {
    border-radius: 8px;
  }
  
  .modal-title {
    font-size: 20px;
    font-weight: bold;
  }
  
  .modal-body input {
    margin-bottom: 10px;
  }
  
  .modal-footer .btn {
    padding: 8px 15px;
  }
  .movie-poster {
    width: 100px;
    height: 150px;
    object-fit: cover;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }
  
  .poster-preview {
    width: 120px;
    height: 180px;
    object-fit: cover;
    margin-top: 10px;
    border: 2px solid #ddd;
    border-radius: 5px;
  }
  .modal-footer {
    justify-content: right;
  }