.movie-container {
    padding: 20px;
    background-color: #000000;
    min-height: 100vh;
  }
  
  .movie-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  .movie-actions {
    display: flex;
    gap: 10px;
  }
  .movie-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .search-bar {
    width: 300px;
  }
  

  .movie-pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  /* Modal Styling */
  .modal-content {
    border-radius: 8px;
  }
  
  .modal-title {
    font-size: 20px;
    font-weight: bold;
  }
  
  .modal-body input {
    margin-bottom: 10px;
  }
  
  .modal-footer .btn {
    padding: 8px 15px;
  }
  .movie-poster {
    width: 100px;
    height: 150px;
    object-fit: cover;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }
  
  .poster-preview {
    width: 120px;
    height: 180px;
    object-fit: cover;
    margin-top: 10px;
    border: 2px solid #ddd;
    border-radius: 5px;
  }
  .modal-footer {
    justify-content: right;
  }